<h1 class="text-center">Text To Speech </h1>

<form action="/text-to-speech" method="post" enctype="multipart/form-data" class="mt-4">
    <div class="mb-3">
        <label for="file" class="form-label">Choose a PDF file:</label>
        <input type="file" class="form-control" id="file" name="file">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- Display the uploaded MP3 file -->
{% if file_url %}
    <div class="mt-4">
        <h3>Text to Audio:</h3>
        <audio controls>
            <source src="{{ file_url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
{% endif %}